@font-face {
	font-family: 'srinakharinwirot regular';
	src: url('srinakharinwirot-regular-webfont.eot');
	src: url('srinakharinwirot-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('srinakharinwirot-regular-webfont.woff') format('woff'),
		url('srinakharinwirot-regular-webfont.ttf') format('truetype');
}